#formWrapper {
width : 340px;
padding : 20px;
}

#formWrapper label {
font-size: 20px;
line-height: 30px;
}

#formWrapper input[type="text"] ,  #formWrapper input[type="number"] {
float :right;
padding : 4px;
width : 250px;
height: 25px;
border:1px solid gray;
}

#formWrapper input[name="submit"] , #formWrapper input[type="reset"] {
margin : 0;
width : 90px;
height: 40px;
border : none;
border-radius : 4px;
background : -webkit-gradient(linear , 0 0, 0 100% , from(#7f7f7f) ,to(#535353));
color : lightgray;
font-weight: bold;
cursor : pointer;
}
